@charset "UTF 8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte-destaque: 'Passion One', cursive;
    --fonte-padrão: Sriracha, Helvetica, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrão);
}

html, body{
    background-color: darkgray;
    min-height: 100%;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    font-family: var(--fonte-destaque);
    font-variant: small-caps;
    padding-top: 50px;
}

header > p{
    padding-bottom: 50px;
}

header a, footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
    color: rgb(187, 187, 187);
}

section{
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
}

.normal{
    background-color: white;
    color: black;
}

.imagem{
    background-color: black;
    color: white;
}

.imagem > p{
    background-color: rgba(0, 0, 0, 0.555);
    width: 400px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}