@charset "UTF 8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte-destaque: 'Passion One', cursive;
    --fonte-comum: Verdana, Tahoma, sans-serif;
    --fonte-padrão: Sriracha, cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: darkgray;
    min-height: 100%;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    font-family: var(--fonte-destaque);
    font-variant: small-caps;
    padding-top: 50px;
    font-size: 10vw;
}

header > p{
    padding-bottom: 50px;
    font-family: var(--fonte-comum);
}

header a, footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
    color: rgb(187, 187, 187);
}

section{
    font-family: var(--fonte-padrão);
    font-size: 3.5vw;
    line-height: 2em;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 30px;
}

section p{
    padding-bottom: 2em;
}

.normal{
    background-color: white;
    color: black;
}

.imagem{
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.349);
}

.imagem > p{
    background-color: rgba(0, 0, 0, 0.555);
    display: inline-block;
    text-shadow: 1px 1px 0px black;
}

#imagem01{
    background: black url(pictures/background001.jpg) right center no-repeat fixed;
    background-size: cover;
}

#imagem02{
    background: black url(pictures/background002.jpg) right center no-repeat fixed;
    background-size: cover;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}